:root {
  color-scheme: light;
  --page-background-color: #f8fafc;
  --page-text-color: #1f2937;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --page-background-color: #020617;
  --page-text-color: #f8fafc;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', 'Vazirmatn', 'IRANSans', 'Tahoma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
